* {
    box-shadow: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
}

ul {
    list-style: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* navBar */
nav {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    padding-top: 10px;
    border-bottom: 1px solid rgb(187, 182, 182);
    background-color: white;    
}

.nylogo-style {
    height: 35px;
    width: 250px;
    align-content: center;
}

.navbtn-style {
    align-content: flex-end;
    padding-right: 20px;

}

.fanav-icons {
    padding: 0 10px;
    height: 20px;
}

.btn-style {
    height: 30px;
    width: auto;
    padding: 0 5px 3px 5px;
    margin: 5px 2px 5px 2px;
    background-color: rgb(86, 123, 149);
    color: white;
    border: 1px solid rgb(86, 123, 149);
    border-radius: 4%;
    font-size: 10px;
    font-weight: 550;
    /* font-family: nyt-franklin, Arial, Helvetica, sans-serif; */
}

/* flexContainer Figure */
.flex-container{
    display:flex;
    margin-left: 10px;
    padding: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: Noto Serif, serif;
}

.figheader {    
    justify-self: center;
    padding: 20px 5px 0 5px;
    font-style: italic;
    font-size: 40px;
    font-weight: 700;
}

figure {
    padding: 20px 100px 30px 100px;
}

.figimage {
    width: 100%;
    display: flex;
    display: inline-block;
}

.fig-text {
    opacity: 80%;
    color: rgb(83, 79, 79);
}
.figtextextrastyle{
    font-size: 14px;
    color: rgb(184, 178, 178);
}